<a name="profile"></a>
<div class="title text-center" id="profile">
  <h1> 關於我們 </h1>
</div>
<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 cell"> 
				
				  
				  <%= image_tag("maggie.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				  <hr>
				  <div class="lead" style="font-size:1.1em;">你認識我嗎？<br>

					不認識？那你來這幹嘛？
				  </div>
				  
			</div>
			<div class="col-sm-4 cell" > 
				<div class="symbol">
					<i class="fa fa-heart fa-5x heart"></i>
					<%#= image_tag("heart.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				</div>

			
			</div>
			<div class="col-sm-4 cell"> 
				  <%= image_tag("nick.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				  
				  <hr>

				  <div class="lead" style="font-size:1.1em;">你認識我嗎？<br>
				  
						  我是張揚昀，從小我就是一個小霸王，所以我有個綽號叫小霸王!
						  在小的時候，我夢想成為阿斯拉的主人，但可惜我無法進入零的領域，
                          因而提早放棄。等我國中的時候，我瘋狂愛上NBA夢想成為喬登，每天看著電視，覺得看了100小時左右自己也能成為喬登第二代，但事實並非如此，只有眼睛度數加深，而且也惹怒了我妹妹，因為她想看小紅豆 …
						  <br>
						  我的太太是陳彥如，是我這一生的幸運之星
						  緣分說來真是妙妙妙，因為全台灣這麼多的人，卻讓我們相遇在元智的資工系 …
						  說來很奇妙，我們一起吃雞排食物中毒 ，上課也一起翹課。那條月老的紅線，其實早就牽在我們兩個人的手上了!
 						  <br>
						  彥如為了我，放棄廣達電腦的苦命碼農的工作，她其實是非常會除蟲編碼的現代女性。我非常感謝她，賜予我人生的幸福。

				  </div>
			</div>
		</div>
	</div>
</section>


<script>
	$(document).ready(function () {

	    //$(".player").mb_YTPlayer();

	    var heights = $(".cell").map(function() {
	        return $(this).height();
	    }).get(),

	    maxHeight = Math.max.apply(null, heights);

	    $(".cell").height(maxHeight);
	    $('.symbol').css('line-height',maxHeight+"px");

	    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	    initialize();
	    //alert("d");
	});

	});
</script>