<style type="text/css">



</style>
<!--
<div class="visible-xs visible-lg visible-md visible-sm  intro">
  <div class="container">
      <div class="intro-text pull-left">
        
        <div class="intro-heading">
          We're getting married
        </div>
        <div class="intro-lead-in ">
          Welcome To Our Wedding Ceremony !

        </div>
        <div class="intro-lead-date">12. 27. 2014 @TAIPEI</div>
        <div class="intro-lead-date">01. 17. 2015 @TAITUNG</div>    
      </div>
    </div>
</div>
-->
<!--Video Section-->

<section class=" intro video-section " id="movie">
  <div class="pattern-overlay">
  <!--
  <a id="bgndVideo" class="player" data-property="{videoURL:'http://youtu.be/81jgEYyt7r8',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:0.6}"></a>
-->

<!--videoURL:'81jgEYyt7r8',
 
mute:true, 
-->
<a  id="video" 
    class="player" 
    data-property="{
      showControls:true, 
      videoURL:'wrfzIg-sLfw',
      containment:'.video-section', 
      autoPlay:true, 
      loop:false,
      
      startAt:0, 
      opacity:1, 
      addRaster:false, 
      quality:'hd720', 
      optimizeDisplay:'true'
    }" 
    style="display: none; background-image: none;" title="">My video
</a>
    
    <div class="container">
      <div id="spin_div" style="margin-top:300px;" class="text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
      </div>  
      <!--
      <div class="intro-text">
      	
        <div class="intro-heading">
        	We're getting married
        </div>
        <div class="intro-lead-in ">
        	Welcome To Our Wedding Ceremony !

	   	  </div>
        <div class="intro-lead-date">12. 27. 2014 @TAIPEI</div>
        <div class="intro-lead-date">01. 17. 2015 @TAITUNG</div>    
      </div>
      -->

    </div>
  

  </div>
</section>




<script type="text/javascript">
   $( "#spin_div" ).fadeToggle(3000);
/*
 $(function(){
      $(".player").mb_YTPlayer();
    }); 

 */

/**
 * cbpAnimatedHeader.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2013, Codrops
 * http://www.codrops.com
 */
var cbpAnimatedHeader = (function() {
  var docElem = document.documentElement,
    header = document.querySelector( '.navbar-default' ),
    didScroll = false,
    changeHeaderOn = 400;

  function init() {
    window.addEventListener( 'scroll', function( event ) {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( scrollPage, 250 );
        

      }
    }, false );
  }

  function scrollPage() {
    var sy = scrollY();
    if ( sy >= changeHeaderOn ) {
      $('.navbar-default').addClass('navbar-shrink');

    }
    else {
      $('.navbar-default').removeClass( 'navbar-shrink');
    }
    didScroll = false;
  }

  function scrollY() {
    return window.pageYOffset || docElem.scrollTop;
  }

  init();

})();

</script>