<div class="title text-center" id="profile">
  <h1> 關於我們 </h1>
</div>
<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 cell"> 
				
				  
				  <%= image_tag("maggie.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				  <hr>

				  <Lorem> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				  </Lorem>
			</div>
			<div class="col-sm-4 cell" > 
				<div class="symbol">
					<i class="fa fa-heart fa-5x heart"></i>
					<%#= image_tag("heart.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				</div>

			
			</div>
			<div class="col-sm-4 cell"> 
				  <%= image_tag("nick.png", :alt => "rss feed", :class => "img-circle img-responsive img-center") %>
				  
				  <hr>

				  <Lorem> 你認識我嗎？
						  我是張揚昀，從小我就是一個小霸王，所以我有個綽號叫小霸王!
						  在小的時候，我夢想成為阿斯拉的主人，但可惜我無法進入零的領域，
                          因而提早放棄。等我國中的時候，我瘋狂愛上NBA夢想成為喬登第五代，每天看著電視，覺得看了100小時左右自己也能成為摳鼻孔第二代，但事實並非如此，而且也惹怒了我妹妹，因為她想看小紅豆…

						  我的太太是陳彥如，是我這一生的LUCKY STAR…
						  緣分說來真是妙妙妙，因為全台灣這麼多的人，卻讓我們相遇在元智...
						  的資工系…(待續)


						  人生是一場不斷學習的課程，學習彼此理解包容，父母、夫妻、子女 亦復如此。
				  </Lorem>
			</div>
		</div>
	</div>
</section>


<script>
	$(document).ready(function () {

	    //$(".player").mb_YTPlayer();

	    var heights = $(".cell").map(function() {
	        return $(this).height();
	    }).get(),

	    maxHeight = Math.max.apply(null, heights);

	    $(".cell").height(maxHeight);
	    $('.symbol').css('line-height',maxHeight+"px");

	    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	    initialize();
	    //alert("d");
	});

	});
</script>